.background-div{
    height: 100%;
    background-color: white;
}

.login-paper-style{
    padding: 10px;
    height: 50vh;
    width: 350px;
    margin-top: 9%;
    margin-inline: 36% 10%;
    
}

.submit-btn{
    margin-top: 20px;
}

